.user_avtr_alt {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	background: #121212;
	background: linear-gradient(135deg, #121212 25%, #1a1a1a 25%, #2888d6 50%, #121212 50%, #121212 75%, #1a1a1a 75%, #1a1a1a);
	background-size: 40px 40px;

	/* Animation */
	animation: move_user_avtr_alt 8s linear infinite;
}

@keyframes move_user_avtr_alt {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 40px 40px;
	}
}
.logs-container-build {
	@apply [&::-webkit-scrollbar]:w-2
    [&::-webkit-scrollbar-track]:rounded-full
    [&::-webkit-scrollbar-thumb]:rounded-full
    [&::-webkit-scrollbar-track]:bg-gray-100
    [&::-webkit-scrollbar-thumb]:bg-gray-400
    hover:[&::-webkit-scrollbar-thumb]:bg-gray-500
    dark:[&::-webkit-scrollbar-track]:bg-neutral-800
    dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500
    dark:hover:[&::-webkit-scrollbar-thumb]:bg-neutral-400;
}
@keyframes myAnimation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.round-animation {
	transform: rotate(0deg);
	animation-name: myAnimation;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.85, 0.09, 0.29, 0.85);
	transform-origin: center;
}

/* ------------------------------------------------------------------------------------------------------- */
/* animtion */
.container_queued_animation {
	--uib-size-queued: 20;
	--uib-color-queued: rgb(236, 255, 22);
	--uib-speed-queued: 4.5s;
	--uib-stroke-queued: 5;
	--uib-mult-queued: calc(var(--uib-size-queued) / var(--uib-stroke-queued));
	--uib-stroke-px-queued: calc(var(--uib-stroke-queued) * 1px);
	--uib-size-px-queued: calc(var(--uib-size-queued) * 1px);
	position: relative;
	height: var(--uib-size-px-queued);
	width: var(--uib-size-px-queued);
}

.line_queued_animation {
	position: absolute;
	top: calc(50% - var(--uib-stroke-px-queued) / 2);
	left: calc(50% - var(--uib-stroke-px-queued) / 2);
	width: var(--uib-stroke-px-queued);
	height: var(--uib-stroke-px-queued);
	background-color: var(--uib-color-queued);
	animation: center-line var(--uib-speed-queued) ease infinite;
	transition: background-color 0.3s ease;
}

.container_queued_animation::before,
.container_queued_animation::after {
	content: "";
	position: absolute;
	width: var(--uib-stroke-px-queued);
	height: var(--uib-stroke-px-queued);
	background-color: var(--uib-color-queued);
	animation: explore_queued_animation var(--uib-speed-queued) ease infinite;
	transition: background-color 0.3s ease;
}

.container_queued_animation::after {
	animation-delay: calc(var(--uib-speed-queued) * -0.5);
}

@keyframes center-line {
	0%,
	25%,
	50%,
	75%,
	100% {
		transform: scaleX(1) scaleY(1);
	}
	12.5%,
	62.5% {
		transform: scaleX(var(--uib-mult-queued)) scaleY(1);
	}
	37.5%,
	87.5% {
		transform: scaleX(1) scaleY(var(--uib-mult-queued));
	}
}

@keyframes explore_queued_animation {
	0%,
	100% {
		transform: scaleX(1) scaleY(1) translate(0%, 0%);
		transform-origin: top left;
		top: 0;
		left: 0;
	}

	12.5% {
		transform: scaleX(var(--uib-mult-queued)) scaleY(1) translate(0%, 0%);
		transform-origin: top left;
		top: 0;
		left: 0;
	}

	12.50001% {
		transform: scaleX(var(--uib-mult-queued)) scaleY(1) translate(0%, 0%);
		transform-origin: top right;
		top: 0;
		left: initial;
		right: 0;
	}

	25% {
		transform: scaleX(1) scaleY(1) translate(0%, 0%);
		transform-origin: top right;
		top: 0;
		left: initial;
		right: 0;
	}

	37.5% {
		transform: scaleX(1) scaleY(var(--uib-mult-queued)) translate(0%, 0%);
		transform-origin: top right;
		top: 0;
		left: initial;
		right: 0;
	}

	37.5001% {
		transform: scaleX(1) scaleY(var(--uib-mult-queued)) translate(0%, 0%);
		transform-origin: bottom right;
		top: initial;
		bottom: 0;
		left: initial;
		right: 0;
	}

	50% {
		transform: scaleX(1) scaleY(1) translate(0%, 0%);
		transform-origin: bottom right;
		top: initial;
		bottom: 0;
		left: initial;
		right: 0;
	}

	62.5% {
		transform: scaleX(var(--uib-mult-queued)) scaleY(1) translate(0%, 0%);
		transform-origin: bottom right;
		top: initial;
		bottom: 0;
		left: initial;
		right: 0;
	}

	62.5001% {
		transform: scaleX(var(--uib-mult-queued)) scaleY(1) translate(0%, 0%);
		transform-origin: bottom left;
		top: initial;
		bottom: 0;
		left: 0;
	}

	75% {
		transform: scaleX(1) scaleY(1) translate(0%, 0%);
		transform-origin: bottom left;
		top: initial;
		bottom: 0;
		left: 0;
	}

	87.5% {
		transform: scaleX(1) scaleY(var(--uib-mult-queued)) translate(0%, 0%);
		transform-origin: bottom left;
		top: initial;
		bottom: 0;
		left: 0;
	}

	87.5001% {
		transform: scaleX(1) scaleY(var(--uib-mult-queued)) translate(0%, 0%);
		transform-origin: top left;
		top: 0;
		left: 0;
	}
}

/* --------------------------------------------- */
.container_animtation_progress {
	--uib-size-progress: 30px;
	--uib-color-progress: rgb(248, 219, 34);
	--uib-speed-progress: 1.4s;
	--uib-dot-size-progress: calc(var(--uib-size-progress) * 0.18);
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	height: calc(var(--uib-size-progress) * 0.5);
	width: var(--uib-size-progress);
}

.dot_animtation_progress {
	flex-shrink: 0;
	width: calc(var(--uib-size-progress) * 0.17);
	height: calc(var(--uib-size-progress) * 0.17);
	border-radius: 50%;
	background-color: var(--uib-color-progress);
	transition: background-color 0.3s ease;
}

.dot_animtation_progress:nth-child(1) {
	animation: jump_animtation_progress var(--uib-speed-progress) ease-in-out calc(var(--uib-speed-progress) * -0.45) infinite;
}

.dot_animtation_progress:nth-child(2) {
	animation: jump_animtation_progress var(--uib-speed-progress) ease-in-out calc(var(--uib-speed-progress) * -0.3) infinite;
}

.dot_animtation_progress:nth-child(3) {
	animation: jump_animtation_progress var(--uib-speed-progress) ease-in-out calc(var(--uib-speed-progress) * -0.15) infinite;
}

.dot_animtation_progress:nth-child(4) {
	animation: jump_animtation_progress var(--uib-speed-progress) ease-in-out infinite;
}

@keyframes jump_animtation_progress {
	0%,
	100% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(-200%);
	}
}
