@import "tailwindcss";

@plugin "tailwindcss-animate";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--color-less: var(--less);
	--color-some-less: var(--some-less);

	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}
button {
	cursor: pointer;
}

:root {
	--radius: 0.625rem;
	--background: #d73232;
	--less: #5e5e5e;
	--some-less: #272727;
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
	--background: oklch(0.9702 0 0);
	--foreground: oklch(0.145 0 0);
}
.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--less: #959595;
	--some-less: #c5c4c4;
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
	h1 {
		@apply text-4xl font-bold tracking-tight text-primary;
	}

	h2 {
		@apply text-3xl font-semibold tracking-tight text-primary;
	}

	h3 {
		@apply text-2xl font-semibold text-primary;
	}
	span {
		@apply text-less;
	}
	/* Paragraphs */
	p {
		@apply text-base leading-relaxed text-muted-foreground;
	}

	button {
		@apply transition-colors duration-200;
		@apply text-primary;
	}

	/* Inputs & textareas */
	input,
	textarea {
		@apply border border-input bg-background text-foreground rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-ring;
	}

	/* Links */
	a {
		@apply text-primary hover:underline hover:text-primary/80;
	}
}

.logs-container-build {
	@apply [&::-webkit-scrollbar]:w-2
    [&::-webkit-scrollbar-track]:rounded-full
    [&::-webkit-scrollbar-thumb]:rounded-full
    [&::-webkit-scrollbar-track]:bg-gray-100
    [&::-webkit-scrollbar-thumb]:bg-gray-400
    hover:[&::-webkit-scrollbar-thumb]:bg-gray-500
    dark:[&::-webkit-scrollbar-track]:bg-neutral-800
    dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500
    dark:hover:[&::-webkit-scrollbar-thumb]:bg-neutral-400;
}
@keyframes myAnimation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.round-animation {
	transform: rotate(0deg);
	animation-name: myAnimation;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.85, 0.09, 0.29, 0.85);
	transform-origin: center;
}

/* ------------------------------------------------------------------------------------------------------- */
/* animtion */
.container_queued_animation {
	--uib-size-queued: 20;
	--uib-color-queued: rgb(236, 255, 22);
	--uib-speed-queued: 4.5s;
	--uib-stroke-queued: 5;
	--uib-mult-queued: calc(var(--uib-size-queued) / var(--uib-stroke-queued));
	--uib-stroke-px-queued: calc(var(--uib-stroke-queued) * 1px);
	--uib-size-px-queued: calc(var(--uib-size-queued) * 1px);
	position: relative;
	height: var(--uib-size-px-queued);
	width: var(--uib-size-px-queued);
}

.line_queued_animation {
	position: absolute;
	top: calc(50% - var(--uib-stroke-px-queued) / 2);
	left: calc(50% - var(--uib-stroke-px-queued) / 2);
	width: var(--uib-stroke-px-queued);
	height: var(--uib-stroke-px-queued);
	background-color: var(--uib-color-queued);
	animation: center-line var(--uib-speed-queued) ease infinite;
	transition: background-color 0.3s ease;
}

.container_queued_animation::before,
.container_queued_animation::after {
	content: "";
	position: absolute;
	width: var(--uib-stroke-px-queued);
	height: var(--uib-stroke-px-queued);
	background-color: var(--uib-color-queued);
	animation: explore_queued_animation var(--uib-speed-queued) ease infinite;
	transition: background-color 0.3s ease;
}

.container_queued_animation::after {
	animation-delay: calc(var(--uib-speed-queued) * -0.5);
}

@keyframes center-line {
	0%,
	25%,
	50%,
	75%,
	100% {
		transform: scaleX(1) scaleY(1);
	}
	12.5%,
	62.5% {
		transform: scaleX(var(--uib-mult-queued)) scaleY(1);
	}
	37.5%,
	87.5% {
		transform: scaleX(1) scaleY(var(--uib-mult-queued));
	}
}

@keyframes explore_queued_animation {
	0%,
	100% {
		transform: scaleX(1) scaleY(1) translate(0%, 0%);
		transform-origin: top left;
		top: 0;
		left: 0;
	}

	12.5% {
		transform: scaleX(var(--uib-mult-queued)) scaleY(1) translate(0%, 0%);
		transform-origin: top left;
		top: 0;
		left: 0;
	}

	12.50001% {
		transform: scaleX(var(--uib-mult-queued)) scaleY(1) translate(0%, 0%);
		transform-origin: top right;
		top: 0;
		left: initial;
		right: 0;
	}

	25% {
		transform: scaleX(1) scaleY(1) translate(0%, 0%);
		transform-origin: top right;
		top: 0;
		left: initial;
		right: 0;
	}

	37.5% {
		transform: scaleX(1) scaleY(var(--uib-mult-queued)) translate(0%, 0%);
		transform-origin: top right;
		top: 0;
		left: initial;
		right: 0;
	}

	37.5001% {
		transform: scaleX(1) scaleY(var(--uib-mult-queued)) translate(0%, 0%);
		transform-origin: bottom right;
		top: initial;
		bottom: 0;
		left: initial;
		right: 0;
	}

	50% {
		transform: scaleX(1) scaleY(1) translate(0%, 0%);
		transform-origin: bottom right;
		top: initial;
		bottom: 0;
		left: initial;
		right: 0;
	}

	62.5% {
		transform: scaleX(var(--uib-mult-queued)) scaleY(1) translate(0%, 0%);
		transform-origin: bottom right;
		top: initial;
		bottom: 0;
		left: initial;
		right: 0;
	}

	62.5001% {
		transform: scaleX(var(--uib-mult-queued)) scaleY(1) translate(0%, 0%);
		transform-origin: bottom left;
		top: initial;
		bottom: 0;
		left: 0;
	}

	75% {
		transform: scaleX(1) scaleY(1) translate(0%, 0%);
		transform-origin: bottom left;
		top: initial;
		bottom: 0;
		left: 0;
	}

	87.5% {
		transform: scaleX(1) scaleY(var(--uib-mult-queued)) translate(0%, 0%);
		transform-origin: bottom left;
		top: initial;
		bottom: 0;
		left: 0;
	}

	87.5001% {
		transform: scaleX(1) scaleY(var(--uib-mult-queued)) translate(0%, 0%);
		transform-origin: top left;
		top: 0;
		left: 0;
	}
}

/* --------------------------------------------- */
.container_animtation_progress {
	--uib-size-progress: 30px;
	--uib-color-progress: rgb(248, 219, 34);
	--uib-speed-progress: 1.4s;
	--uib-dot-size-progress: calc(var(--uib-size-progress) * 0.18);
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	height: calc(var(--uib-size-progress) * 0.5);
	width: var(--uib-size-progress);
}

.dot_animtation_progress {
	flex-shrink: 0;
	width: calc(var(--uib-size-progress) * 0.17);
	height: calc(var(--uib-size-progress) * 0.17);
	border-radius: 50%;
	background-color: var(--uib-color-progress);
	transition: background-color 0.3s ease;
}

.dot_animtation_progress:nth-child(1) {
	animation: jump_animtation_progress var(--uib-speed-progress) ease-in-out calc(var(--uib-speed-progress) * -0.45) infinite;
}

.dot_animtation_progress:nth-child(2) {
	animation: jump_animtation_progress var(--uib-speed-progress) ease-in-out calc(var(--uib-speed-progress) * -0.3) infinite;
}

.dot_animtation_progress:nth-child(3) {
	animation: jump_animtation_progress var(--uib-speed-progress) ease-in-out calc(var(--uib-speed-progress) * -0.15) infinite;
}

.dot_animtation_progress:nth-child(4) {
	animation: jump_animtation_progress var(--uib-speed-progress) ease-in-out infinite;
}

@keyframes jump_animtation_progress {
	0%,
	100% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(-200%);
	}
}
