node_modules
.env
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

build-server/script.js
test-server/config/kafka.ts
test-server/public/user-projects/

test-grounds/
test-grounds/*

nginx-1.28.0/logs/
nginx-1.28.0/temp/
nginx-1.28.0/*.pid
nginx-1.28.0/*.lock
nginx-1.28.0/*.exe

